<div class="container afu-container">

  <h3 class="title">File Upload with angular</h3>

  <div class="border">
    <h4>Example-1 (Default Theme)</h4>
    <angular-file-uploader [resetUpload]=resetUpload1 [config]="Config" class="afuc" (ApiResponse)="docUpload($event)">
    </angular-file-uploader>
  </div>
  <br>
  <br>

  <!-- <div class="border">
    <h4>Example-2 (Theme - dragNDrop)</h4>
    <angular-file-uploader [config]="afuConfig3" [resetUpload]=resetUpload3 (ApiResponse)="docUpload($event)">
    </angular-file-uploader>
  </div>
  <br>
  <br>

  <div class="border">
    <h4>Example-3 (Theme - attachPin)</h4>
    <angular-file-uploader [config]="afuConfig2" [resetUpload]=resetUpload2 (ApiResponse)="docUpload($event)">
    </angular-file-uploader>
  </div>
</div> -->


